// VARIABELS COLOR
$color-primary: #ca321e;
$color-primary-light: #ff523b;
$color-primary-dark: #791407;

$color-grey-light-1: #f8f8f0;
$color-grey-light-2: #d4d4d4;

$color-grey-dark-1: #333;
$color-grey-dark-2: #666;

// FONTS
$font-primary: "Montserrat", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 68.75em; //1100px
$bp-large: 50em; //800px
$bp-small: 31.25em; //500px
