.nav {
  display: flex;
  align-items: center;
  color: $color-grey-dark-1;
  padding: 3rem 0;

  position: relative;

  &__logo-link {
    margin-right: auto;
  }

  &__logo {
    height: 5rem;
    padding-left: 2rem;

    @include respond($bp-small) {
      height: 3.5rem;
    }
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-column-gap: 3rem;

    @include respond($bp-large) {
      grid-template-columns: 1fr;
      grid-row-gap: 5rem;
      background-color: rgba($color-grey-dark-1, 0.9);
      padding: 4rem 0;
      height: 100vh;
      width: 60%;
      align-content: start;
      justify-items: center;
      position: fixed;
      right: 0rem;
      top: 10rem;
      z-index: 100;
      color: $color-grey-light-1;
      transform: translateX(100%);
      transition: all 0.4s ease-in;
    }
    @include respond($bp-small) {
      width: 90%;
    }
  }

  &__link {
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
    color: currentColor;
    position: relative;
    transition: all 0.2s;

    @include respond($bp-large) {
      font-size: 2.2rem;
    }
  }

  &__link::before {
    content: "";
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.5s;
  }
  &__link:hover::before {
    transform: scaleX(1);
  }

  &__cart-btn {
    background-color: unset;
    margin: 0 4rem;
    border: 0;
    outline: 0;
    position: relative;

    &__link {
      font-size: 2.5rem;
      color: currentColor;
      transition: all 0.2s;
    }

    .navigation {
      width: 2.25rem;
      height: 2.25rem;
      font-size: 1.5rem;
      line-height: 2.25rem;
      color: #fff;
      background-color: $color-primary-light;
      border-radius: 50%;
      position: absolute;
      top: -1rem;
      right: -1rem;
    }

    @include respond($bp-large) {
      transform: translateX(-300%);
    }
  }

  &__link:hover,
  &__cart-btn:hover {
    color: $color-primary;
  }
}

////////////////////////////////////////
//  MENU TOGGLE

.menu-toggle {
  display: none;
}
.menu-toggle:checked ~ .nav__list {
  transform: translateX(0);
}

.menu__btn {
  background-color: transparent;

  cursor: pointer;
  display: none;
  padding: 1rem 0.5rem;
  position: fixed;
  top: 4rem;
  right: 2rem;
  z-index: 100;

  @include respond($bp-large) {
    display: inline-block;
  }
  @include respond($bp-small) {
    top: 3rem;
  }

  &__icon {
    position: relative;
    &,
    &::after,
    &::before {
      content: "";
      display: inline-block;
      width: 4.25rem;
      height: 0.4rem;
      background-color: $color-grey-light-1;

      @include respond($bp-small) {
        width: 3.5rem;
      }
    }
    &::after,
    &::before {
      position: absolute;
      left: 0;
    }

    &::after {
      top: -1.1rem;

      @include respond($bp-small) {
        top: -0.9rem;
      }
    }
    &::before {
      top: 1.1rem;

      @include respond($bp-small) {
        top: 0.9rem;
      }
    }
  }
}
